<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">Time to be fit!</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field appearance="fill" *ngIf="(!(isLoading$ | async)) && trainings">
          <mat-label>Trainings</mat-label>
          <mat-select name="exercise" ngModel required>
            <mat-option *ngFor="let training of trainings" [value]="training.id">
              {{training.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="(isLoading$ | async)" ></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center" *ngIf="!(isLoading$ | async)">
        <button *ngIf="trainings" type="submit" color="primary" mat-raised-button [disabled]="f.invalid">Start</button>
        <button *ngIf="!trainings" type="button" color="primary" mat-raised-button (click)='fetchTrainings()'>Fetch Again</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
