<div class="{{customDivClass}}" role="group" aria-label="Basic example">
    <ng-template ngFor let-btnItem [ngForOf]="btnsItemsCollection">
        <ng-template #tooltipTemplate>
                <ng-container *ngIf="btnsItemsCollection.length > 1 || btnItem.isActive">
                    {{btnItem.activeTooltipText}}
                </ng-container>
                <ng-container *ngIf="!btnItem.isActive">
                    {{btnItem.inActiveTooltipText}}
                </ng-container>
        </ng-template>
        <button type="button" class="btn {{btnItem.btnSizeClass}}" [ngClass]="btnItem.isActive ? ''+btnItem.btnActiveClass+'': ''+btnItem.btnItemClass+''"
            [disabled]="btnItem.isDisabled" [tooltip]="btnItem.isTooltipEnabled ? tooltipTemplate:''" tooltipPlacement="{{btnItem.tooltipPlacement}}" (click)="onBtnClicked(btnItem);">
            <i [ngClass]="(btnsItemsCollection.length === 1 ? (btnItem.isActive ? btnItem.activeIconClass: btnItem.inActiveIconClass): btnItem.activeIconClass)"
                aria-hidden="true"></i>{{btnItem.title}}
        </button>
    </ng-template>
</div>