<section>
  <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" fxLayoutGap="10px"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Your email" formControlName="email" required>
      <mat-error>Please enter valid Email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Your password" formControlName="password" required>
      <mat-error>Please enter valid Password</mat-error>
    </mat-form-field>
    <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Submit</button>
    <mat-spinner *ngIf="(isLoading$ | async)" ></mat-spinner>
  </form>
</section>
